@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  font-size: 13px;
}
.Parentprofilecontainer {
  height: 100vh;
  font-size: 14px;
  background-image: linear-gradient(to right, white, rgb(234, 234, 234));
}
.container1 {
  background-color: #ffffff;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 50%;
  margin: auto;
  transform: translate(50%, -50%);
  padding: 3rem;
  border-radius: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.container1 h1 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  font-family: "sans-serif";
}
.container1 form {
  margin: 1rem;
}
.container1 input {
  width: 100%;
  margin-top: 2rem;
  height: 4rem;
  font-size: 1.4rem;
  border: none;
  border-bottom: 0.15rem solid rgb(163, 163, 163);
  padding: 0 0.5rem;
}
.container1 input:hover {
  border-bottom: 0.15rem solid #4eafeb;
}
.container1 input::placeholder {
  color: rgb(163, 163, 163);
}
.container1 form p {
  font-size: 1.3rem;
  padding: 3rem 0.5rem 0 0;
  color: rgb(37, 58, 214);
}
.container1 form p:hover {
  color: #ff705b;
  cursor: pointer;
}
.buttoncontainer {
  display: flex;
  justify-content: space-between;
}

.btn1 {
  display: block;
  margin: 2rem auto;
  font-size: 1.6rem;
  width: 50%;
  align-content: flex-start;
  padding: 0.9rem 0;
  border-radius: 1.7rem;
  border: none;
  background-color: #ff705b;
  color: #ffffff;
}
.btn1:hover {
  cursor: pointer;
}

.btn {
  display: block;
  margin: 2rem auto;
  font-size: 1.6rem;
  width: 50%;
  align-content: flex-end;
  padding: 0.9rem 0;
  border-radius: 1.7rem;
  border: none;
  background-color: #326bdc;
  color: #ffffff;
}
.btn:hover {
  cursor: pointer;
}
.img {
  display: block;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  gap: 15px;
}
.format {
  display: flex;
  justify-content: space-between;
}
.inputfield {
  width: 45%;
  margin-left: 10px;
}
.container1 input:focus {
  border-color: #ff0000;
}
