@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.Parentlogincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-image: linear-gradient(to right, white, rgb(210, 207, 207));
}

.containerlogin {
  background-color: #ffffff;
  display: inline-block;

  width: 35%;

  padding: 2rem;
  border-radius: 1rem;
  background-color: #ffffffbf;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

#errorContainer {
  color: "white";
  background-color: #e6e4e4;
  border: 0.1vw solid #ff5000;
  border-radius: 0.4vw;

  font-size: "1.5rem";

  width: 35%;
}

.containerlogin input {
  width: 100%;
  margin-top: 2rem;
  height: 4rem;
  font-size: 14px;
  border: none;
  border-bottom: 0.15rem solid rgb(163, 163, 163);
  padding: 0 0.5rem;
  outline: none;
}
.containerlogin input:hover {
  border-bottom: 0.15rem solid #0086da;
}
.containerlogin input::placeholder {
  color: rgb(163, 163, 163);
}
.containerlogin form p {
  font-size: 13px;
  padding: 3rem 0.5rem 0 0;
  color: rgb(37, 58, 214);
}
.containerlogin form p:hover {
  color: #ff705b;
  cursor: pointer;
}
.containerlogin h1 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid silver;
}
.btn3 {
  display: block;
  margin: 2rem auto;
  font-size: 13px;
  width: 90%;
  padding: 0.9rem 0;
  border-radius: 1.7rem;
  border: none;
  background-color: #ff5000;
  color: #ffffff;
}
.btn3:hover {
  cursor: pointer;
}
.containerlogin .login-message {
  text-align: center;
  font-size: 1.3rem;
}

.containerlogin .login-message span {
  color: #ff5000;
  font-weight: 600;
}
.containerlogin login-message span:hover {
  cursor: pointer;
}
