.nav-container {
  display: flex;
  width: 100%;
  padding: 0px 0.5vw;
  margin-top: -1vh;
  margin-left: -1vw;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  background-color: #ffffff;
  border-radius: 8px;
}

.nav-link-list {
  display: flex;
  margin: 0;
}

.logout-icon {
  align-items: flex-end;
  cursor: pointer;
}

.nav-items {
  text-decoration: none;
  font-size: 20px !important;
  /* margin: 0 15px; */
  color: #333;
  padding: 10px;
  height: 100%;
}

.nav-items:hover {
  background-color: whitesmoke;
}
