.therapy-header-container{
    display: flex;
    height: 15vh;
    align-items: center;
    margin: 15px;
    background-color: aliceblue;
    width: 95%;
    justify-content: center;
    color: #2c1e39;
 }