#filterContainer{
    display: flex;
    flex-direction: row;
    /* flex-grow: 1; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* border-left: 0.2vh solid gray; */
    /* position: fixed; */
    z-index: 20;
    /* margin-bottom: 2vh; */
    /* display: flex; */
    
}
.filterField{
    display: flex;
    position: relative;
    /* flex-grow: 1; */
    width: 95%;
    justify-content:center;
    align-items: center;
    height: 6vh;
    border: 0.1vw solid gray;
    padding: 0.5vh 0.5vw;
    /* -webkit-box-shadow: 0 0 0.2vw 0.05vw #7c7979;
        box-shadow: 0 0 0.2vw 0.05vw #7c7979; */
        /* -webkit-box-shadow: 0 0 0.2vw 0.02vw gray;
        box-shadow: 0 0 0.2vw 0.02vw gray; */
    border-radius: 0.5vw;
    color:black
    /* font-size: 1em; */
    
}


#in{
    /* font-size: 1.4vh; */
    width: 70%;
    border-width: 0px;
    height: 70%;
    border-radius: 2%;
    /* border: 0.1vw solid black; */
    /* flex-grow: 3; */
    margin-right: auto;
    padding-left: 1vw;
    outline: none;
    font-size: 2.5vh;
}



.filterBtn{
    width: 12%;
    height: 70%;
    border-radius: 5%;
    background-color: white;
    border: none;

}

.button{
    /* font-size: 0.8vh; */
    height: 70%;
    padding: 0vh 1vw;
    border-radius: 5%;
    background-color: white;
    border: none;
    height: 95%;
    align-items: center;
    justify-content: center;
    
}

.button:hover{
    background-color: gray;
}


#inputField{
    width: 60%;
    /* margin-left: 1vw; */
    /* border: 0.1vw solid black; */
    /* border-radius: .5vw; */
    
    /* display: flex; */
    
}

.button:hover{
    color: orange;
    background-color: white;
}

#reset:hover{
    color: orange;
    background-color: white;
}


#dropDownField{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: none;
    border: none
}

.label{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
    /* padding-top: 0.4vh; */
    
}

.label span{
    font-size: 2vh;
    color: gray;

}

.selectField{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

#statusText{
    font-size: 2.5vh;
}

#removeFilter{
    
    width: 2%;
    /* height: 80%; */
    justify-content: space-around;
    align-items: flex-end;
    
    border: none;
    box-shadow: none;
    
}
#removeFilterBtn{
    width: 80%;
    border: none;
    padding: 0px;

}






.selectField{
    border-bottom: 0.2vh solid gray;
    /* display: flex; */
    padding-top: 1vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 1vh 0.2vw;
    width: 100%;
   
}
