.therapy-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .address-container {
    margin-top: 24px;
  }
  
  .address-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .therapy-form-field {
    flex: 1;
    margin: 5px !important;
  }

  .form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: auto; 
    height: 100vh; 
  }

  .therapy-form-nav-btn{
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 20px;
    text-decoration: underline; 
    cursor: pointer; 
    border: none; 
    align-self: flex-start;
    color: orange;
    background-color: white;
    
  }

  .therapy-form-submit-btn{
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 20px;
    text-decoration: none; 
    cursor: pointer; 
    border: none; 
    align-self: flex-end;
    background-color: orange;
    border: orange 2px solid;
    color: white;
  }

 .therapy-btn-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px;
 }

 .therapy-header-container{
    display: flex;
    height: 15vh;
    align-items: center;
    margin: 15px;
    background-color: aliceblue;
    width: 100%;
    justify-content: center;

 }

 .therapy-description{
    width: 80vh;
 }
 .therapy-phone{
   align-self: center;
 }

 .form-container{
  height: 100vh;
 }
