.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #ffffff;
    width: 20vw;
    height: 100vh;
    /* border-radius: 2%; */
    position: sticky;
    top: -1vh;
    left: 0;
    margin-left: -3vw;
    margin-top: -1vh;
    /* margin-top: 1vh; */
    /* border: 0.4vh solid gray; */
    -webkit-box-shadow: 0 0 0.2vw 0.01vw gray;
    box-shadow: 0 0 0.2vw 0.01vw gray;
    /* border-right: 0.2vh solid gray; */
    
}

#sideBtnContainer {
    height: 100vh;
    margin-top: -1vh;
    margin-bottom: -2vh;
    margin-left: -2.5vw;
    /* background-color: transparent; */
    /* -webkit-box-shadow: 0 0 0.2vw 0.01vw gray;
    box-shadow: 0 0 0.2vw 0.01vw gray; */
}

#listContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* flex-grow: 1; */
    /* align-items: center; */
    margin: 3.5vh 1vw;
    overflow: auto;

}

.paneButtonField{
    /* background-color: #ff80008e; */
    border-radius: 2%;
    margin: 0.3vh 0vw;
    color: rgb(0, 217, 255);
}

.paneButtonElement{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#paneButton{
    padding: 0.2vh 0vw;
}

#paneHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: orange; */
    border-bottom: 0.1vh solid gray;
    border-radius: 2%;
    width: 100%;
}
#paneHeader span{
    font: 1.5rem;
    padding: 0px 2vh;
}